body {
  background-image: url('./wallpaper.png');
  background-size: cover;
}

#wrapper {
    float: left;
    margin-left: 50px;;
    margin-right: auto;
    margin-top: 150px;
    background: white;
}

.row {
    width: auto;
    height: 16px;
    background: white;
}

.square {
    width: 35px;
    height: 35px;
    margin: 0px;
    outline: 1px solid;
    display: inline-block;
    float: left;
    background: #FFFFFF;
}
.white {
  background-color: white;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.pixel{
  box-sizing: border-box;
  border: 1px solid black;
  width: 35px;
  height: 35px;
}
#new {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
  width: 35px;
  height: 35px;
  margin-left: 3px;
}
.pixel{
  margin-top: 5px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
  width: 35px;
  height: 35px;
}
.palette {
  text-align: center;
  position: absolute;
  background-color: grey;
  width: auto;
  height: 50px;
  border: 1px white solid;
  margin-left: 90px;
  margin-top: 35px;
  box-shadow: 1px 1px 1px yellow;
}
input {
  position: relative;
  display: inline-block;
}
